In [6]:
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy.sql import text
import numpy as np
import datetime
import pickle as pkl

In [7]:
playrates = pd.read_csv("./data/play_rates_final.csv", index_col = False)

In [11]:
len(playrates["Champion"].unique())

159

In [4]:
playrates.head()

   Unnamed: 0        Date     Champion  Play Rate
0           0  12/15/2021  AurelionSol   0.001998
1           1  12/15/2021      Shyvana   0.019980
2           2  12/15/2021         Olaf   0.011988
3           3  12/15/2021        Neeko   0.014985
4           4  12/15/2021          Zoe   0.021978