In [12]:
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy.sql import text
import numpy as np
import datetime
import pickle as pkl
from tqdm import tqdm

# Load Twitter Data

In [13]:
league = pd.read_csv("./data/Lol_twitter.csv")

In [14]:
league.columns

Index(['coordinate', 'create_at', 'favorite_count', 'geo_tag.cityID',
       'geo_tag.cityName', 'geo_tag.countyID', 'geo_tag.countyName',
       'geo_tag.stateID', 'geo_tag.stateName', 'id', 'in_reply_to_status',
       'in_reply_to_user', 'is_retweet', 'lang', 'place.bounding_box',
       'place.country', 'place.country_code', 'place.full_name', 'place.id',
       'place.name', 'place.place_type', 'retweet_count', 'text',
       'user.create_at', 'user.description', 'user.followers_count',
       'user.friends_count', 'user.id', 'user.lang', 'user.location',
       'user.name', 'user.profile_image_url', 'user.screen_name',
       'user.statues_count'],
      dtype='object')

In [22]:
league

,coordinate,create_at,favorite_count,geo_tag.cityID,geo_tag.cityName,geo_tag.countyID,geo_tag.countyName,geo_tag.stateID,geo_tag.stateName,id,...,user.description,user.followers_count,user.friends_count,user.id,user.lang,user.location,user.name,user.profile_image_url,user.screen_name,user.statues_count
0,NaN,2021-07-09 23:19:47.0,0,4183950.0,Wood Village,41051,Multnomah,41,Oregon,1413639045268217856,...,"sports, fitness, music and nerd stuff. PDX. ma...",160.0,346.0,1.506810e+07,NaN,"Portland OR, blood is Ohioan",Nate,http://pbs.twimg.com/profile_images/8075224618...,NathanD_17,14932.0
1,NaN,2021-07-12 06:59:28.0,0,644000.0,Los Angeles,6037,Los Angeles,6,California,1414479504945270784,...,@TwitchRivals Community Manager. Esports Host ...,75090.0,955.0,2.081862e+07,NaN,Los Angeles,Frodan,http://pbs.twimg.com/profile_images/1398834177...,Frodan,20355.0
2,NaN,2021-07-07 16:35:28.0,0,644000.0,Los Angeles,6037,Los Angeles,6,California,1412812522873233413,...,Film major bby / <,1096.0,901.0,1.041004e+18,NaN,"Los Angeles, CA",badguy,http://pbs.twimg.com/profile_images/1412453160...,bazaarsterry,8723.0
3,NaN,2021-07-11 09:33:35.0,0,2731076.0,Inver Grove Heights,27037,Dakota,27,Minnesota,1414155902718988289,...,"6'1"" Support player @Bethanyesports | http://t...",749.0,700.0,7.174171e+17,NaN,NaN,Jonathan Song,http://pbs.twimg.com/profile_images/1319340908...,BE__Hollywood,8294.0
4,NaN,2021-07-06 05:01:42.0,0,4865000.0,San Antonio,48029,Bexar,48,Texas,1412275542280257536,...,| UTSA 23 | ????????? | BB4L | #BTC | IVERN 1...,560.0,609.0,8.547659e+17,NaN,Drinking Water,Jake <3,http://pbs.twimg.com/profile_images/1406695859...,TheJacobGarcia,6248.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
324829,NaN,2022-03-06 03:43:04.0,0,1215475.0,Crestview,12091,Okaloosa,12,Florida,1500316004370558979,...,"Husband, Father, wannabe gamer, aspiring autho...",5.0,46.0,1.444022e+18,NaN,"Florida, USA",tcard47,http://pbs.twimg.com/profile_images/1499151282...,tcard47,34.0
324830,NaN,2022-03-16 04:18:16.0,0,36061.0,Manhattan,36061,New York,36,New York,1503948740775882753,...,brown lady smoking writing a big fat check,844.0,438.0,1.408574e+18,NaN,"New York, NY",anika leporsupueste,http://pbs.twimg.com/profile_images/1495886715...,SizeFourBabe,6030.0
324831,NaN,2022-03-16 12:51:38.0,0,1271000.0,Tampa,12057,Hillsborough,12,Florida,1504077934646157323,...,"@UofSC 92,01. TV Director/film critic. @Crit...",551.0,1336.0,5.138955e+08,NaN,"Tampa, FL",Chip Hansen,http://pbs.twimg.com/profile_images/1475531566...,ReadyOneTakeTwo,14906.0
324832,NaN,2022-03-25 20:27:51.0,0,644000.0,Los Angeles,6037,Los Angeles,6,California,1507454234249158657,...,Artist/Producer/Engineer #HoldOn Featuring @li...,4446.0,2341.0,2.396164e+07,NaN,Los Angeles,Gussie Miller,http://pbs.twimg.com/profile_images/1446222014...,GussieMiller,19580.0
324833,NaN,2022-03-27 22:12:47.0,0,2547100.0,North Brookfield,25027,Worcester,25,Massachusetts,1508205418438397961,...,"I'll explain, no that would take too long, let...",22.0,25.0,1.458926e+07,NaN,Someware in deepest darkest MA,AaronMerlo,http://pbs.twimg.com/profile_images/60233047/T...,AaronMerlo,851.0

In [23]:
league[["id", "text", "create_at", "user.followers_count"]]

,id,text,create_at,user.followers_count
0,1413639045268217856,@KegsnEggs Wheres league of legends?,2021-07-09 23:19:47.0,160.0
1,1414479504945270784,Watched the #LCS games with @CaptainFlowers to...,2021-07-12 06:59:28.0,75090.0
2,1412812522873233413,Wait why the new league of legends character s...,2021-07-07 16:35:28.0,1096.0
3,1414155902718988289,Starcraft I and II (2 games?)\nWarcraft III\nC...,2021-07-11 09:33:35.0,749.0
4,1412275542280257536,Just called a sweaty neckbeard in league of le...,2021-07-06 05:01:42.0,560.0
...,...,...,...,...
324829,1500316004370558979,Miss Fortune Highlights\n#LoL #wildrift #missf...,2022-03-06 03:43:04.0,5.0
324830,1503948740775882753,eres muy joven \nMISS FORTUNE ES LA COMEDY QU...,2022-03-16 04:18:16.0,844.0
324831,1504077934646157323,@hammyinmiami Im still looking for someone to...,2022-03-16 12:51:38.0,551.0
324832,1507454234249158657,After spending more than 30 mins on hold waiti...,2022-03-25 20:27:51.0,4446.0
324833,1508205418438397961,@WASenDemocrats @GovInslee Since roughly 80% o...,2022-03-27 22:12:47.0,22.0

In [27]:
randomModel = league[["id", "text", "create_at", "user.followers_count"]]

In [28]:
randomModel = randomModel[randomModel["text"].notna()]

In [31]:
randomModel

,id,text,create_at,user.followers_count
0,1413639045268217856,@KegsnEggs Wheres league of legends?,2021-07-09 23:19:47.0,160.0
1,1414479504945270784,Watched the #LCS games with @CaptainFlowers to...,2021-07-12 06:59:28.0,75090.0
2,1412812522873233413,Wait why the new league of legends character s...,2021-07-07 16:35:28.0,1096.0
3,1414155902718988289,Starcraft I and II (2 games?)\nWarcraft III\nC...,2021-07-11 09:33:35.0,749.0
4,1412275542280257536,Just called a sweaty neckbeard in league of le...,2021-07-06 05:01:42.0,560.0
...,...,...,...,...
324829,1500316004370558979,Miss Fortune Highlights\n#LoL #wildrift #missf...,2022-03-06 03:43:04.0,5.0
324830,1503948740775882753,eres muy joven \nMISS FORTUNE ES LA COMEDY QU...,2022-03-16 04:18:16.0,844.0
324831,1504077934646157323,@hammyinmiami Im still looking for someone to...,2022-03-16 12:51:38.0,551.0
324832,1507454234249158657,After spending more than 30 mins on hold waiti...,2022-03-25 20:27:51.0,4446.0
324833,1508205418438397961,@WASenDemocrats @GovInslee Since roughly 80% o...,2022-03-27 22:12:47.0,22.0

In [33]:
engine = create_engine(f'postgresql+psycopg2://postgres:Cookie123$@localhost/STAT_170B')
conn = engine.connect().execution_options(autocommit=True)

In [34]:
randomModel.to_sql('twitter', con=conn, index=False, if_exists='replace')

In [32]:
randomModel.to_csv('data/randomModel.csv')

In [5]:
df_league = league[["id", "text"]]

In [6]:
df_league[df_league["id"].index == 50444]

                        id text
50444  1428702153489723398  NaN

In [7]:
df_league

                         id                                               text
0       1413639045268217856               @KegsnEggs Wheres league of legends?
1       1414479504945270784  Watched the #LCS games with @CaptainFlowers to...
2       1412812522873233413  Wait why the new league of legends character s...
3       1414155902718988289  Starcraft I and II (2 games?)\nWarcraft III\nC...
4       1412275542280257536  Just called a sweaty neckbeard in league of le...
...                     ...                                                ...
324829  1500316004370558979  Miss Fortune Highlights\n#LoL #wildrift #missf...
324830  1503948740775882753
eres muy joven
\nMISS FORTUNE ES LA COMEDY QU...
324831  1504077934646157323  @hammyinmiami Im still looking for someone to...
324832  1507454234249158657  After spending more than 30 mins on hold waiti...
324833  1508205418438397961  @WASenDemocrats @GovInslee Since roughly 80% o...

[324834 rows x 2 columns]

# Data Wrangling

In [8]:
df_league["text"].isna().value_counts()

False    324824
True         10
Name: text, dtype: int64

In [9]:
word2Vec = df_league.dropna()

In [11]:
word2Vec

                         id                                               text
0       1413639045268217856               @KegsnEggs Wheres league of legends?
1       1414479504945270784  Watched the #LCS games with @CaptainFlowers to...
2       1412812522873233413  Wait why the new league of legends character s...
3       1414155902718988289  Starcraft I and II (2 games?)\nWarcraft III\nC...
4       1412275542280257536  Just called a sweaty neckbeard in league of le...
...                     ...                                                ...
324829  1500316004370558979  Miss Fortune Highlights\n#LoL #wildrift #missf...
324830  1503948740775882753
eres muy joven
\nMISS FORTUNE ES LA COMEDY QU...
324831  1504077934646157323  @hammyinmiami Im still looking for someone to...
324832  1507454234249158657  After spending more than 30 mins on hold waiti...
324833  1508205418438397961  @WASenDemocrats @GovInslee Since roughly 80% o...

[324824 rows x 2 columns]

In [10]:
word2Vec.to_csv('data/word2Vec.csv')

In [8]:
clean_df_league = df_league.dropna()

In [9]:
clean_df_league

                         id                                               text
0       1413639045268217856               @KegsnEggs Wheres league of legends?
1       1414479504945270784  Watched the #LCS games with @CaptainFlowers to...
2       1412812522873233413  Wait why the new league of legends character s...
3       1414155902718988289  Starcraft I and II (2 games?)\nWarcraft III\nC...
4       1412275542280257536  Just called a sweaty neckbeard in league of le...
...                     ...                                                ...
324829  1500316004370558979  Miss Fortune Highlights\n#LoL #wildrift #missf...
324830  1503948740775882753
eres muy joven
\nMISS FORTUNE ES LA COMEDY QU...
324831  1504077934646157323  @hammyinmiami Im still looking for someone to...
324832  1507454234249158657  After spending more than 30 mins on hold waiti...
324833  1508205418438397961  @WASenDemocrats @GovInslee Since roughly 80% o...

[324824 rows x 2 columns]

# Load Inverted Dictionary

In [10]:
inverted = pkl.load(open('data/inverted_dict.pkl','rb'))

In [11]:
type(inverted)

dict

In [12]:
inverted

{'aatrox': 'aatrox',
 'atrox': 'aatrox',
 'ari': 'ahri',
 'ahri': 'ahri',
 'akali': 'akali',
 'ali': 'alistar',
 'alistar': 'alistar',
 'amumu': 'amumu',
 'anivia': 'anivia',
 'annie': 'annie',
 'aphelios': 'aphelios',
 'aphel': 'aphelios',
 'ashe': 'ashe',
 'asol': 'aurelion sol',
 'aurelion sol': 'aurelion sol',
 'sol': 'aurelion sol',
 'aurelion': 'aurelion sol',
 'azir': 'azir',
 'bard': 'bard',
 'blitz': 'blitzcrank',
 'blitzcrank': 'blitzcrank',
 'brand': 'brand',
 'braum': 'braum',
 'caitlyn': 'caitlyn',
 'cait': 'caitlyn',
 'camille': 'camille',
 'cassiopeia': 'cassiopeia',
 'cass': 'cassiopeia',
 "cho'gath": "cho'gath",
 'chogath': "cho'gath",
 'cho': "cho'gath",
 'gath': "cho'gath",
 'corki': 'corki',
 'darius': 'darius',
 'diana': 'diana',
 'mundo': 'dr. mundo',
 'dr. mundo': 'dr. mundo',
 'dr mundo': 'dr. mundo',
 'draven': 'draven',
 'ekko': 'ekko',
 'elise': 'elise',
 'eve': 'evelynn',
 'evelynn': 'evelynn',
 'ez': 'ezreal',
 'ezreal': 'ezreal',
 'fiddlesticks': 'fiddlesticks',
 'fid': 'fiddlesticks',
 'fiddle': 'fiddlesticks',
 'fiora': 'fiora',
 'fizz': 'fizz',
 'galio': 'galio',
 'gangplank': 'gangplank',
 'gp': 'gangplank',
 'garen': 'garen',
 'gnar': 'gnar',
 'gragas': 'gragas',
 'grag': 'gragas',
 'graves': 'graves',
 'hec': 'hecarim',
 'hecarim': 'hecarim',
 'heimerdinger': 'heimerdinger',
 'heim': 'heimerdinger',
 'illaoi': 'illaoi',
 'irel': 'irelia',
 'irelia': 'irelia',
 'ivern': 'ivern',
 'janna': 'janna',
 'jarvan iv': 'jarvan iv',
 'jarvan': 'jarvan iv',
 'j4': 'jarvan iv',
 'jax': 'jax',
 'jayce': 'jayce',
 'jhin': 'jhin',
 'powder': 'jinx',
 'jinx': 'jinx',
 'sa': "kai'sa",
 "kai'sa": "kai'sa",
 'kaisa': "kai'sa",
 'kai': "kai'sa",
 'kalista': 'kalista',
 'kali': 'kalista',
 'karma': 'karma',
 'karthus': 'karthus',
 'karth': 'karthus',
 'kass': 'kassadin',
 'kassadin': 'kassadin',
 'kat': 'katarina',
 'katarina': 'katarina',
 'kayle': 'kayle',
 'kayn': 'kayn',
 'kennen': 'kennen',
 'kha': "kha'zix",
 'k6': "kha'zix",
 'zix': "kha'zix",
 "kha'zix": "kha'zix",
 'khazix': "kha'zix",
 'kindred': 'kindred',
 'kled': 'kled',
 'maw': "kog'maw",
 'kog': "kog'maw",
 'kogmaw': "kog'maw",
 "kog'maw": "kog'maw",
 'lb': 'leblanc',
 'leblanc': 'leblanc',
 'leesin': 'lee sin',
 'lee': 'lee sin',
 'sin': 'lee sin',
 'lee sin': 'lee sin',
 'leona': 'leona',
 'lillia': 'lillia',
 'lissandra': 'lissandra',
 'liss': 'lissandra',
 'lucian': 'lucian',
 'lulu': 'lulu',
 'lux': 'lux',
 'malphite': 'malphite',
 'malph': 'malphite',
 'malzahar': 'malzahar',
 'malz': 'malzahar',
 'maokai': 'maokai',
 'mao': 'maokai',
 'masteryi': 'master yi',
 'yi': 'master yi',
 'master yi': 'master yi',
 'master': 'master yi',
 'mf': 'miss fortune',
 'fortune': 'miss fortune',
 'miss': 'miss fortune',
 'missfortune': 'miss fortune',
 'miss fortune': 'miss fortune',
 'morde': 'mordekaiser',
 'mord': 'mordekaiser',
 'mordekaiser': 'mordekaiser',
 'morgana': 'morgana',
 'morg': 'morgana',
 'nami': 'nami',
 'nasus': 'nasus',
 'naut': 'nautilus',
 'nautilus': 'nautilus',
 'neeko': 'neeko',
 'nidalee': 'nidalee',
 'nid': 'nidalee',
 'noc': 'nocturne',
 'nocturne': 'nocturne',
 'nunu': 'nunu and willump',
 'nunu and willump': 'nunu and willump',
 'willump': 'nunu and willump',
 'olaf': 'olaf',
 'ori': 'orianna',
 'orianna': 'orianna',
 'ornn': 'ornn',
 'panth': 'pantheon',
 'pantheon': 'pantheon',
 'poppy': 'poppy',
 'pyke': 'pyke',
 'qiyana': 'qiyana',
 'quinn': 'quinn',
 'rakan': 'rakan',
 'rammus': 'rammus',
 'rek': "rek'sai",
 'reksai': "rek'sai",
 'sai': "rek'sai",
 "rek'sai": "rek'sai",
 'rell': 'rell',
 'renekton': 'renekton',
 'renek': 'renekton',
 'rengar': 'rengar',
 'riven': 'riven',
 'riv': 'riven',
 'rumble': 'rumble',
 'ryze': 'ryze',
 'sam': 'samira',
 'samira': 'samira',
 'sejuani': 'sejuani',
 'sej': 'sejuani',
 'senna': 'senna',
 'seraphine': 'seraphine',
 'sera': 'seraphine',
 'sett': 'sett',
 'shaco': 'shaco',
 'shen': 'shen',
 'shyvana': 'shyvana',
 'shyv': 'shyvana',
 'singed': 'singed',
 'sion': 'sion',
 'sivir': 'sivir',
 'skarner': 'skarner',
 'sona': 'sona',
 'raka': 'soraka',
 'soraka': 'soraka',
 'swain': 'swain',
 'sylas': 'sylas',
 'syndra': 'syndra',
 'tahm kench': 'tahm kench',
 'tahm': 'tahm kench',
 'kench': 'tahm kench',
 'tahmkench': 'tahm kench',
 'taliyah': 'taliyah',
 'talon': 'talon',
 'taric': 'taric',
 'teemo': 'teemo',
 'thresh': 'thresh',
 'trist': 'tristana',
 'tristana': 'tristana',
 'trund': 'trundle',
 'trundle': 'trundle',
 'tryndamere': 'tryndamere',
 'trynd': 'tryndamere',
 'tf': 'twisted fate',
 'twisted': 'twisted fate',
 'twistedfate': 'twisted fate',
 'fate': 'twisted fate',
 'twisted fate': 'twisted fate',
 'twitch': 'twitch',
 'udyr': 'udyr',
 'urgot': 'urgot',
 'varus': 'varus',
 'vayne': 'vayne',
 'veigar': 'veigar',
 'veig': 'veigar',
 'vel': "vel'koz",
 "vel'koz": "vel'koz",
 'koz': "vel'koz",
 'velkoz': "vel'koz",
 'vi': 'vi',
 'vy': 'vi',
 'vik': 'viktor',
 'viktor': 'viktor',
 'vladimir': 'vladimir',
 'vlad': 'vladimir',
 'voli': 'volibear',
 'volibear': 'volibear',
 'ww': 'warwick',
 'warwick': 'warwick',
 'wuk': 'wukong',
 'wukong': 'wukong',
 'xayah': 'xayah',
 'xerath': 'xerath',
 'xer': 'xerath',
 'xin zhao': 'xin zhao',
 'zhao': 'xin zhao',
 'xinzhao': 'xin zhao',
 'xin': 'xin zhao',
 'yas': 'yasuo',
 'yasuo': 'yasuo',
 'yone': 'yone',
 'yorick': 'yorick',
 'yuumi': 'yuumi',
 'zac': 'zac',
 'zed': 'zed',
 'ziggs': 'ziggs',
 'zilean': 'zilean',
 'zil': 'zilean',
 'zoe': 'zoe',
 'zyra': 'zyra',
 'renata glasc': 'renata glasc',
 'glasc': 'renata glasc',
 'renataglasc': 'renata glasc',
 'renata': 'renata glasc',
 'zeri': 'zeri',
 'vex': 'vex',
 'akshan': 'akshan',
 'gwen': 'gwen',
 'viego': 'viego'}

# Labelling

In [13]:
champions_list = "Aatrox,Ahri,Akali,Alistar,Amumu,Anivia,Annie,Aphelios,Ashe,Aurelion Sol,Azir,Bard,Blitzcrank,Brand,Braum,Caitlyn,Camille,Cassiopeia,Cho'Gath,Corki,Darius,Diana,Dr. Mundo,Draven,Ekko,Elise,Evelynn,Ezreal,Fiddlesticks,Fiora,Fizz,Galio,Gangplank,Garen,Gnar,Gragas,Graves,Hecarim,Heimerdinger,Illaoi,Irelia,Ivern,Janna,Jarvan IV,Jax,Jayce,Jhin,Jinx,Kai'Sa,Kalista,Karma,Karthus,Kassadin,Katarina,Kayle,Kayn,Kennen,Kha'Zix,Kindred,Kled,Kog'Maw,LeBlanc,Lee Sin,Leona,Lillia,Lissandra,Lucian,Lulu,Lux,Malphite,Malzahar,Maokai,Master Yi,Miss Fortune,Mordekaiser,Morgana,Nami,Nasus,Nautilus,Neeko,Nidalee,Nocturne,Nunu and Willump,Olaf,Orianna,Ornn,Pantheon,Poppy,Pyke,Qiyana,Quinn,Rakan,Rammus,Rek'Sai,Rell,Renekton,Rengar,Riven,Rumble,Ryze,Samira,Sejuani,Senna,Seraphine,Sett,Shaco,Shen,Shyvana,Singed,Sion,Sivir,Skarner,Sona,Soraka,Swain,Sylas,Syndra,Tahm Kench,Taliyah,Talon,Taric,Teemo,Thresh,Tristana,Trundle,Tryndamere,Twisted Fate,Twitch,Udyr,Urgot,Varus,Vayne,Veigar,Vel'Koz,Vi,Viktor,Vladimir,Volibear,Warwick,Wukong,Xayah,Xerath,Xin Zhao,Yasuo,Yone,Yorick,Yuumi,Zac,Zed,Ziggs,Zilean,Zoe,Zyra"
champions_list = champions_list.split(",")
champions_list.append("Renata Glasc")
champions_list.append("Zeri")
champions_list.append("Vex")
champions_list.append("Akshan")
champions_list.append("Gwen")
champions_list.append("Viego")
champions_list = [x.lower() for x in champions_list]

In [14]:
len(champions_list)

159

In [15]:
pkl.dump(champions_list, open('champions_list.pkl','wb'))

In [16]:
topic_champions = list()

try:

    for index, row in tqdm(clean_df_league.iterrows()):
        #print(index, row)
        tokens = row['text'].lower().split()

        counter_dict = {x : 0 for x in champions_list}

        for token in tokens:
            if token in inverted.keys():
                counter_dict[inverted[token]] += 1

        champions = sorted(counter_dict.items(),
                           key = lambda x: x[1],
                           reverse = True)

        if len(champions) == 0:
            topic_champions.append(None)
        elif len(champions) == 1:
            topic_champions.append([champions[0][0]])
        elif champions[0][1] == champions[1][1]:
            topic_champions.append([champions[0][0], champions[1][0]])
        elif len(champions) >= 3 and champions[0][1] == champions[1][1] and champions[2][1]:
            topic_champions.append([champions[0][0], champions[1][0], champions[2][1]])
        else:
            topic_champions.append([champions[0][0]])

    clean_df_league['topic_champion'] = topic_champions
    
except:
    print(index, row)

324824it [02:22, 2279.30it/s]
C:\Users\mzkan\Anaconda3\lib\site-packages\ipykernel_launcher.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [88]:
clean_df_league

,id,text,topic_champion
0,1413639045268217856,@KegsnEggs Wheres league of legends?,"[aatrox, ahri]"
1,1414479504945270784,Watched the #LCS games with @CaptainFlowers to...,"[aatrox, ahri]"
2,1412812522873233413,Wait why the new league of legends character s...,"[aatrox, ahri]"
3,1414155902718988289,Starcraft I and II (2 games?)\nWarcraft III\nC...,"[aatrox, ahri]"
4,1412275542280257536,Just called a sweaty neckbeard in league of le...,"[aatrox, ahri]"
...,...,...,...
324829,1500316004370558979,Miss Fortune Highlights\n#LoL #wildrift #missf...,[miss fortune]
324830,1503948740775882753,eres muy joven \nMISS FORTUNE ES LA COMEDY QU...,[miss fortune]
324831,1504077934646157323,@hammyinmiami Im still looking for someone to...,[miss fortune]
324832,1507454234249158657,After spending more than 30 mins on hold waiti...,[miss fortune]
324833,1508205418438397961,@WASenDemocrats @GovInslee Since roughly 80% o...,"[aatrox, ahri]"

In [71]:
clean_df_league.to_csv('data/clean_df_league.csv')

# Conversion to 1NF

In [19]:
lengths = list(map(len, clean_df_league['topic_champion'].values))

clean_df_labels_1nf = pd.DataFrame(
    {'id': np.repeat(clean_df_league['id'], lengths), 
     'topic_champion': np.concatenate(clean_df_league['topic_champion'].values)
    }
)

In [20]:
clean_df_labels_1nf

                         id topic_champion
0       1413639045268217856         aatrox
0       1413639045268217856           ahri
1       1414479504945270784         aatrox
1       1414479504945270784           ahri
2       1412812522873233413         aatrox
...                     ...            ...
324830  1503948740775882753   miss fortune
324831  1504077934646157323   miss fortune
324832  1507454234249158657   miss fortune
324833  1508205418438397961         aatrox
324833  1508205418438397961           ahri

[450829 rows x 2 columns]

In [21]:
clean_df_labels_1nf.to_csv('data/clean_df_labels_1nf.csv')